$playercolour1: goldenrod;
$playercolour2: firebrick;
$playercolour3: antiquewhite;
$playercolour4: royalblue;

/*
$playercolour1: lightgrey;
$playercolour2: lightgrey;
$playercolour3: lightgrey;
$playercolour4: lightgrey;
*/

$mainfontcolour: rgb(30, 30, 30);

$primary: #3532b8;

$btn-outline-primary-border: white;
$btn-outline-primary-color: $primary;
$btn-outline-primary-hover-bg: lighten($primary, 40%);

body {
    padding-bottom: 180px;
}

header {
    background-color: whitesmoke;
}

.playerheader {
    padding: 10px 0px;
    //margin: 10px;
    border-left-width: 4px;
    border-color: black;
    color: $mainfontcolour;
    font-size: large;
    border-radius: 15px;

    a {
        font-size: larger;
        font-weight: bold;
    }
}

.playerheader1 {
    @extend .playerheader;
    background-color: $playercolour1;
}

.playerpanel1{
    background-color: darken($color: $playercolour1, $amount: 2);
    //background-color: $playercoloursub1;
}

.playerresources1:disabled{
    background-color: darken($color: $playercolour1, $amount: 5) !important;
    border-color: darken($color: $playercolour1, $amount: 1) !important;
    text-align: center;
}

.playerheader2 {
    @extend .playerheader;
    background-color: $playercolour2;
}

.playerpanel2{
    background-color: darken($color: $playercolour2, $amount: 2);
}

.playerresources2:disabled{
    background-color: darken($color: $playercolour2, $amount: 5) !important;
    border-color: darken($color: $playercolour2, $amount: 1) !important;
    text-align: center;
}

.playerheader3 {
    @extend .playerheader;
    background-color: $playercolour3;
}

.playerpanel3{
    background-color: darken($color: $playercolour3, $amount: 2);
}

.playerresources3:disabled{
    background-color: darken($color: $playercolour3, $amount: 5) !important;
    border-color: darken($color: $playercolour3, $amount: 1) !important;
    text-align: center;
}

.playerheader4 {
    @extend .playerheader;
    background-color: $playercolour4;
}

.playerpanel4{
    background-color: darken($color: $playercolour4, $amount: 2);
}

.playerresources4:disabled{
    background-color: darken($color: $playercolour4, $amount: 5) !important;
    border-color: darken($color: $playercolour4, $amount: 1) !important;
    text-align: center;
}

.playercard1 {
    color: $playercolour1;
    background-color: black;
}

.playercard2 {
    color: $playercolour2;
    background-color: black;
}

.playercard3 {
    color: $playercolour3;
    background-color: black;
}

.playercard4 {
    color: $playercolour4;
    background-color: black;
}

.playersTurn{
    border-left: 3px solid black;
}

.footerstyle {
    background-color: whitesmoke;
    //margin: 10px;
    //border-radius: 15px;
}

.header1 {
    font-size: larger;
    font-weight: bold;
}

.nextbutton {
    margin-left: 50px;
    margin-right: 50px;

    width: 100px;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-white);
    --bs-tooltip-color: var(--bs-black);
}

.numberCircle {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 6px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 16px Arial, sans-serif;
}

.numberCircleSelected {
    @extend .numberCircle;
    background: black;
    color: white;
}

@keyframes flash {
    0% { background-color: white; }
    50% { background-color: lightgray; }
    100% { background-color: white; }
  }
  
  .flash {
    animation: flash 1.0s ease-in-out;
  }

@import "../bootstrap/scss/bootstrap.scss";